

/* MACBOOK 16 INCH SCREEN SIZE */

html{
    scroll-behavior: smooth;
  }
  
  body{
    background-color: #000000;
  }
  
  @font-face {
    font-family: "Blocus";
    src: url("Blocus.otf");
  }
  
  @font-face{
    font-family: "Nuances";
    src: url("Nuances.otf");
  }
  
  img.logo{
    position: absolute;
    width: 18vw;
    top: 8vh;
    left: 40vw;
  }

  img.logo:hover {
    cursor: pointer;
    width: 20vw;
    left: 39vw;
    transition: 0.5s;
  }

  img#profilepic{
    position: absolute;
    left: 10vw;
    top: 20vh;
    width: 40vw;
  }
  
  div#about {
    position: absolute;
    left: 55vw;
    top: 20vh;
    font-family: "Nuances", serif;
    font-size: 1.5vw;
    color: rgb(164, 162, 162);
    padding: 20px;
    width: 36vw;
  }

  button#resume {
    border: rgb(164, 162, 162);
    stroke-width: 2px;
    color: rgb(164, 162, 162);
    font-family: "Nuances", serif;
    font-size: 1vw;
    padding: 10px;
    background-color: black;
  }

  button#resume:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    background-color: rgb(255, 124, 231);
  }
  
  a {
    font-family: "Nuances", serif;
    text-decoration: none;
    color: rgb(164, 162, 162);
  }
  
  a:visited{
    color: rgb(164, 162, 162);
  }
  
  a:hover {
    font-family: "Nuances", serif;
    color: white;
    transition: 0.5s;
  }
  