@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&family=Poppins:wght@100;200&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: left;
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

.sidenav {
  height: 100%;
  width: 25vw;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: none;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 15px 15px 15px 30px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.hover {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
}

.hover:after {
  content: '';
  position: absolute;
  width: 30%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#header {
  position: fixed;
  left: 21vw;
  top: 10vh;
  font-weight: 400;
  font-style: italic;
  font-size: 145px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 20px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: 5;
}

#hello {
  position: absolute;
  left: 65vw;
  top: 35vh;
  font-weight: 400;
  font-style: italic;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
}

#profilepic {
  position: absolute;
  left: 28vw;
  top: 15vh;
  width: 50vh;
}

#aboutme {
  position: absolute;
  left: 65vw;
  top: 45vh;
  width: 40vh;
  font-size: 20px;
}
