

/* macbook pro 16 inch screen */
html{
  scroll-behavior: smooth;
}

body{
  background-color: #000000;
}

@font-face {
  font-family: "Blocus";
  src: url("Blocus.otf");
}

@font-face{
  font-family: "Nuances";
  src: url("Nuances.otf");
}

img.logo{
    position: fixed;
    width: 30vw;
    top: 8vh;
    left: 35vw;
}

img.landing {
  height: 80vh;
}

#credit {
  position: fixed;
  color: rgb(79, 78, 78);
}

.toolbar {
  list-style: none;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 95%;
}

li {
  padding: 2px;
}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 18vh;
  font-size: 1.3vw;
  width: 30%;
  color: rgb(79, 78, 78);
  padding: 30px 35vw;
}

div#navbarright a#logo:hover {
  font-style: normal;
}

a:link {
  text-decoration: none;
  /* color: white; */
  color: rgb(79, 78, 78);
  font-family: 'Blocus', sans-serif;
}

a:visited {
  /* color: white; */
  color: rgb(79, 78, 78);
}

#navbar a, #navbarportfolio a, #navbarabout a {
  display: block;
  padding: 15px;
  text-decoration: none;
  /* color: white; */
  color: rgb(79, 78, 78);
  text-transform: uppercase;
  margin: 0 10px;
}

#navbar a,
#navbar a:after,
#navbar a:before,
#navbarportfolio a, 
#navbarportfolio a:after,
#navbarportfolio a:before,
#navbarabout a,
#navbarabout a:after,
#navbarabout a:before {
  position: relative;
  transition: all .5s;
}

#navbar a:after, #navbarportfolio a:after, #navbarabout a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ' ';
  color: transparent;
  background:#ffffff;;
  height: 1px;
}

#navbar a:hover, #navbarportfolio a:hover, #navbarabout a:hover {
  color: #FffffF;
}

#navbar a:hover:after, #navbarportfolio a:hover:after, #navbarabout a:hover:after {
  width: 100%;
}

div#description {
  position: absolute;
  left: 26vw;
  top: 20vh;
  font-family: "Nuances", serif;
  font-size: 1.7vw;
  color: rgb(79, 78, 78);
  padding: 20px;
  width: 45vw;
  text-align: center;
}

div#work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 2vw;
  padding-top: 50vh;
  padding-left: 3vw;
  padding-bottom: 10vh;
}


img.projectimage {
display: block;
width: 30vw;
}

img.projectimage:hover {
opacity: 0.5;
transition: .5s ease;
}

video.code{
padding-bottom: 50px;
width: 70vw;
height: auto;
}

div.projectpage {
padding-top: 20vh;
padding-left: 15vw;
}

img.time{
width: 80%;
padding-bottom: 20px;
}

img.milkyway, img.socialfakeposters{
width: 70vw;
padding-bottom: 20px;
}

img.manholes {
width: 70vw;
padding-top: 50px;
}

img.peoplemag {
width: 25vw;
}

img.lesserafim, img#hats {
width: 60vw;
padding: 5px;
}

img.peoplemag2, img.tbd, img.starbucks{
width: 70vw;
padding-bottom: 10px;
}

embed#resume {
position: absolute;
left: 40vw;
top: 10h;
}

a:link {
text-decoration: none;
/* color: white; */
color: rgb(79, 78, 78);
}

a:visited {
/* color: white; */
color: rgb(79, 78, 78);
}


