

/* MACBOOK 16 INCH SCREEN SIZE */

html{
  scroll-behavior: smooth;
}

body{
  background-color: #000000;
}

@font-face {
  font-family: "Blocus";
  src: url("Blocus.otf");
}

@font-face{
  font-family: "Nuances";
  src: url("Nuances.otf");
}

img.logo{
    position: absolute;
    width: 25vw;
    top: 8vh;
    left: 37vw;
    cursor: pointer;
}

p#description {
  position: absolute;
  left: 30vw;
  top: 20vh;
  font-family: "Nuances", serif;
  font-size: 1.5vw;
  color: rgb(164, 162, 162);
  padding: 20px;
  width: 36vw;
  text-align: center;
}

a#link {
  text-decoration: none;
  color: white;
}


a#link:hover {
  color: rgb(164, 162, 162);
  transition: 0.5s;
}


div#work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1vw;
  padding-top: 50vh;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 10vh;
}

h1 {
  position: absolute;
  left: 30vw;
  top: 20vh;
  font-family: "Nuances", serif;
  font-size: 2vw;
  color: rgb(164, 162, 162);
  padding: 20px;
  width: 36vw;
  text-align: center;
}

p.description {
  position: absolute;
  left: 28vw;
  top: 30vh;
  font-family: "Nuances", serif;
  font-size: 1.2vw;
  color: rgb(164, 162, 162);
  padding: 20px;
  width: 40vw;
  text-align: center;
}


img.projectimage {
display: block;
width: 30vw;
border-radius: 10px;
}

img.projectimage:hover {
opacity: 0.5;
transition: .5s ease;
}

video.code{
padding-bottom: 50px;
width: 70vw;
height: auto;
}

div.projectpage {
padding-top: 53vh;
padding-left: 15vw;
}

img.time{
width: 80%;
padding-bottom: 20px;
}

img.milkyway, img.socialfakeposters{
width: 70vw;
padding-bottom: 20px;
}

img.manholes {
width: 70vw;
padding-top: 50px;
}

img.peoplemag {
width: 25vw;
}

img.lesserafim, img#hats {
width: 60vw;
padding: 5px;
}

img.peoplemag2, img.tbd, img.starbucks{
width: 70vw;
padding-bottom: 10px;
}

embed#resume {
position: absolute;
left: 40vw;
top: 10h;
}

a:link {
text-decoration: none;
/* color: white; */
color: rgb(164, 162, 162);
}

a:visited {
/* color: white; */
color: rgb(164, 162, 162);
}

/* PHONE SCREEN SIZE */

  @media only screen 
    and (min-device-width: 300px) 
    and (max-device-width: 750px) 
    and (-webkit-min-device-pixel-ratio: 3) { 

    img.logo{
        position: absolute;
        width: 95vw;
        top: 8vh;
        left: 5vw;
    }
    
    div#description {
      position: absolute;
      left: 5vw;
      top: 15vh;
      font-family: "Nuances", serif;
      font-size: 5vw;
      color: rgb(164, 162, 162);
      padding: 20px;
      width: 85vw;
      text-align: center;
    }
  
  div#work {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    padding-left: 0;
    padding-top: 40vh;
  }

  div.projectpage {
    padding-top: 20vh;
    padding-left: 0;
  }

  img.projectimage {
    display: block;
    width: 100vw;
  }

  video.code, video.animation{
    padding-bottom: 0;
    width: 100vw;
    height: auto;
  }

  img.milkyway, img.socialfakeposters{
    width: 100vw;
    padding-bottom: 5vh;
  }

  img.lobster{
    width: 100vw;
    padding-bottom: 1vh;
  }

  img.illustration, img#case {
    width: 100vw;
    padding-bottom: 30px;
    padding-left: 0;
  }

  img.peoplemag, img.lesserafim, img.tbd, img.manholes{
    width: 100vw;
    padding-left: 0; 
  }

  img.peoplemag2, img.starbucks{
    width: 100vw;
  }
    }

