@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* macbook pro 16 inch screen */
html{
  scroll-behavior: smooth;
}

body{
  background-color: #ffffff;
}

@font-face {
  font-family: "Blocus";
  src: url("Blocus.otf");
}

.container{
  white-space: nowrap;
  font-size: 200px;
  font-family: 'Blocus';
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

p#name0 a, p#name1 a, p#name2 a, p#name3 a, p#name4 a{
  color: rgb(79, 78, 78);
  font-family: 'Blocus';
}

p#name0, p#name2, p#name4 {
  position: relative;
  text-align: center;
  margin: 0;
  width: 200%;
   
  animation: scroll-slowr 40s linear infinite;
  -moz-animation: scroll-slowr 40s linear infinite;
  -webkit-animation: scroll-slowr 40s linear infinite;
   
  transform:translateX(100%);
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
 }
   
 @keyframes scroll-slowr {
  0%   { 
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(-50%); 		
  }
  100% { 
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(0%); 
  }
 }

p#name1, p#name3 {
  position: relative;
  text-align: center;
  margin: 0;
  width: 200%;
   
  animation: scroll-slowl 40s linear infinite;
  -moz-animation: scroll-slowl 40s linear infinite;
  -webkit-animation: scroll-slowl 40s linear infinite;
   
  transform:translateX(100%);
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
 }
   
 @keyframes scroll-slowl {
  0%   { 
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(0%); 		
  }
  100% { 
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-50%); 
  }
 }

#credit {
  position: relative;
  /* color: white; */
  color: rgb(79, 78, 78);
}

p span:hover { 
  background: linear-gradient(to right, #00F0FF 20%, #F230DF 50%, #f09e3a 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite;
  cursor: pointer;
}

p span#left:hover { 
  background: linear-gradient(to left, #00F0FF 20%, #F230DF 50%, #f09e3a 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite;
  cursor: pointer;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.toolbar {
  list-style: none;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 95%;
}

li {
  padding: 2px;
}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  font-size: 1vw;
  width: 30%;
  /* color: white; */
  color: rgb(79, 78, 78);
  padding: 30px 35vw;
}

#navbarportfolio {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  font-size: 1vw;
  text-transform: uppercase;
  width: 30%;
  /* color: white; */
  color: rgb(79, 78, 78);
  padding: 30px 35vw;
}

#navbarabout {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  font-size: 1vw;
  text-transform: uppercase;
  width: 30%;
  /* color: white; */
  color: rgb(79, 78, 78);
  padding: 30px 35vw;
}

#navbarleft {
  position: fixed;
  padding: 30px;
  font-size: 1vw;
  top: 0.5vh;
  left: 10vw;
  /* color: white; */
  color: rgb(79, 78, 78);
}

#logo {
  font-family: 'Blocus';
  font-size: 3vw;
  text-transform: uppercase;
}

div#navbarright a#logo:hover {
  font-style: normal;
}

#portfoliomenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 18vh;
  left: 10vw;
  font-size: 1vw;
  color:  rgb(79, 78, 78);
  padding: 30px;
}

div#portfoliomenu header {
  padding: 15px;
  color: #F230DF;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

div#portfoliomenu a {
  color:  rgb(79, 78, 78);
  font-size: 0.7vw;
  font-family: 'Poppins', sans-serif;
  padding-left: 30px;
  padding-bottom: 10px;
  margin: 0;
}

div#portfoliomenu a:hover {
  /* color: white; */
  color: #F230DF;

}

div#work h1 {
  /* color: white; */
  color:  rgb(79, 78, 78);
  font-size: 1.5vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

div#work h2 {
  /* color: white; */
  color:  rgb(79, 78, 78);
  font-size: 1vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

#work {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20vh;
  padding-left: 30vw;
}

video.code{
  padding-bottom: 50px;
  width: 55vw;
  height: auto;
}

img.milkyway, img.socialfakeposters{
  width: 50vw;
  padding-bottom: 20px;
}

img.manholes {
  width: 60vw;
  padding-top: 50px;
}

img.lobster{
  width: 50vw;
  padding-bottom: 5px;
}

img.illustration, img#case{
  width: 30vw;
  padding-bottom: 30px;
  padding-left: 10vw; 
}

img.peoplemag {
  width: 25vw;
}

img.lesserafim, img#hats {
  width: 40vw;
  padding: 5px;
}

img.peoplemag2, img.tbd, img.starbucks{
  width: 50vw;
  padding-bottom: 10px;
}

embed#resume {
  position: absolute;
  left: 40vw;
  top: 10h;
}

a:link {
  text-decoration: none;
  /* color: white; */
  color: rgb(79, 78, 78);
  font-family: 'Poppins', sans-serif;
}

a:visited {
  /* color: white; */
  color: rgb(79, 78, 78);
}

#navbar a, #navbarportfolio a, #navbarabout a {
  display: block;
  padding: 15px;
  text-decoration: none;
  /* color: white; */
  color: rgb(79, 78, 78);
  text-transform: uppercase;
  margin: 0 10px;
}
#navbar a,
#navbar a:after,
#navbar a:before,
#navbarportfolio a, 
#navbarportfolio a:after,
#navbarportfolio a:before,
#navbarabout a,
#navbarabout a:after,
#navbarabout a:before {
  position: relative;
  transition: all .5s;
}

#navbar a:after, #navbarportfolio a:after, #navbarabout a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ' ';
  color: transparent;
  background:#F230DF;;
  height: 1px;
}

#navbar a:hover, #navbarportfolio a:hover, #navbarabout a:hover {
  color: #F230DF;
}

#navbar a:hover:after, #navbarportfolio a:hover:after, #navbarabout a:hover:after {
  width: 100%;
}

#about {
  position: relative;
  top: 30vh;
  left: 50vw;
  width: 30vw;
  margin-right: auto;
  font-family:'Poppins', sans-serif; 
  font-size: 16px;
  /* color: white; */
  color: rgb(79, 78, 78);
}

#hi{
  font-size: 60px;
}

#profilepic{
  position: absolute;
  top: 20vh;
  left: 15vw;
  height: auto;
  width: 30vw;
}

button#resume{
  position: relative;
  background-color:#F230DF;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  /* color: white; */
  color: rgb(79, 78, 78);
  border: none;
  border-radius: 5px;
  padding: 15px;
}

button#visit{
  position: relative;
  top: -100px;
  left: 50px;
  background-color:#F230DF;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  /* color: white; */
  color: rgb(79, 78, 78);
  border: none;
  border-radius: 5px;
  padding: 15px;
}


button#visit:hover, button#resume:hover {
  background-color: white;
  color: #F230DF;
  cursor: pointer;
  transition: 0.5s;
}


/* phone screen size */

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 750px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    body {
      background-color: black;
      color: white;
    }

    .container{
      font-size: 170px;
    }

    #navbarleft{
      position: fixed;
      padding: 20px;
      font-size: 1vw;
      /* color: white; */
      color: rgb(79, 78, 78);
    }

    #logo {
      font-size: 12vw;
    }

    /* navigation bars */

    #navbar {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 5vw;
      text-align: center;
      width: 50vw;
      top: 40vh;
      left: 26vw;
      padding: 0;
    }

    #navbarportfolio {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      top: 9vh;
      font-size: 5vw;
      text-transform: uppercase;
      width: 100vw;
      padding: 0;
    }

    #navbarabout {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      top: 9vh;
      font-size: 5vw;
      text-transform: uppercase;
      width: 100vw;
      padding: 0;
    }

    /* portfolio page */

    #portfoliomenu {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      padding: 0;
      top: 15vh;
      left: 1vw;
      color:  rgb(79, 78, 78);
    }
    
    div#portfoliomenu header{
      display: none;
    }
    
    div#portfoliomenu a{
      display: none;
    }
    
    div#portfoliomenu ::after {
      /* color: white; */
      color: rgb(79, 78, 78);
    }

    div#work h1 {
      font-size: 4vw;
      font-family: 'Poppins', sans-serif;
      font-weight: 100;
    }    

    #work {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100vw;
      padding-left: 0;
      padding-top: 20vh;
    }

    video.code, video.animation{
      padding-bottom: 0;
      width: 100vw;
      height: auto;
    }
    
    img.milkyway, img.socialfakeposters{
      width: 100vw;
      padding-bottom: 5vh;
    }
    
    img.lobster{
      width: 100vw;
      padding-bottom: 1vh;
    }
    
    img.illustration, img#case {
      width: 100vw;
      padding-bottom: 30px;
      padding-left: 0;
    }
    
    img.peoplemag, img.lesserafim, img.tbd, img.manholes{
      width: 100vw;
      padding-left: 0; 
    }
    
    img.peoplemag2 {
      width: 100vw;
    }

    button#visit {
      position: relative;
      top: 10px;
      left: 75vw;
      background-color:#F230DF;
      font-size: 15px;
      font-family: 'Poppins', sans-serif;
      /* color: white; */
      color: rgb(79, 78, 78);
      border: none;
      border-radius: 5px;
      padding: 10px;
    }

    /* about page  */

    #about {
      position: absolute;
      top: 80vh;
      left: 0;
      padding: 10px;
      width: 100%;
      font-family:'Poppins', sans-serif; 
      font-size: 4vw;
      color: white;
    }
    
    #hi{
      font-size: 6vw;
    }
    
    #profilepic{
      position: absolute;
      top: 20vh;
      width: 100vw;
      left: 0;
    }

}

/* tablet screen size */

@media only screen 
  and (min-device-width: 760px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    body {
      background-color: black;
      color: white;
    }

    .container{
      font-size: 240px;
    }

    #navbarleft{
      position: fixed;
      padding: 20px;
      font-size: 1vw;
    }

    #logo {
      font-size: 12vw;
    }

    /* navigation bars */

    #navbar {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 6vw;
      text-align: center;
      width: 50%;
      top: 40vh;
      left: 26vw;
      padding: 0;
    }

    #navbarportfolio {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      top: 12vh;
      font-size: 3vw;
      text-transform: uppercase;
      width: 100%;
      padding: 0;
    }

    #navbarabout {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      top: 12vh;
      font-size: 3vw;
      text-transform: uppercase;
      width: 100%;
      padding: 0;
    }

    /* portfolio page */

    #portfoliomenu {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 15%;
      padding: 0;
      top: 20vh;
      left: 1vw;
      color:  rgb(79, 78, 78);
    }

    div#portfoliomenu header{
      padding: 20px;
      color: #F230DF;
      font-weight: 500;
      font-size: 2vw;
      font-family: "Poppins", sans-serif;
    }
    
    div#portfoliomenu a{
      color:  rgb(79, 78, 78);
      font-size: 2vw;
      font-family: 'Poppins', sans-serif;
      padding-left: 30px;
      padding-bottom: 10px;
      margin: 0;
    }
    
    div#portfoliomenu a:hover {
      /* color: white; */
      color: rgb(79, 78, 78);
    }

    #work {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100vw;
      padding-left: 25vw;;
      padding-top: 20vh;
    }

    video.code, video.animation{
      padding-bottom: 0;
      width: 70vw;
      height: auto;
    }
    
    img.milkyway, img.socialfakeposters{
      width: 70vw;
      padding-bottom: 5vh;
    }
    
    img.lobster{
      width: 70vw;
      padding-bottom: 1vh;
    }
    
    img.illustration, img#case{
      width: 70vw;
      padding-bottom: 30px;
      padding-left: 0;
    }
    
    img.peoplemag, img.lesserafim{
      width: 70vw;
      padding-left: 0; 
    }
    
    img.peoplemag2 {
      width: 70vw;
    }

    button#visit {
      position: relative;
      top: 10px;
      left: 75vw;
      background-color:#F230DF;
      font-size: 15px;
      font-family: 'Poppins', sans-serif;
      /* color: white; */
      color: rgb(79, 78, 78);
      border: none;
      border-radius: 5px;
      padding: 10px;
    }

    /* about page  */

    #about {
      position: relative;
      top: 20vh;
      left: 5vw;
      padding: 10px;
      width: 90%;
      margin-right: auto;
      font-family:'Poppins', sans-serif; 
      font-size: 3vw;
    }
    
    #hi{
      font-size: 6vw;
    }
    
    #profilepic{
      position: relative;
      top: 20vh;
      width: 70vw;
      left: 14vw;
    }

    button#resume {
      position: relative;
      background-color:#F230DF;
      font-size: 3vw;
      font-family: 'Poppins', sans-serif;
      border: none;
      border-radius: 5px;
      padding: 15px;
    }

}

